.root{
    -fx-background-color: #DDDDDD;
}

.cardPane{
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.topPane{
    -fx-background-color: #3196DE;
}

.text-fieldJFX {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}
.text-fieldJFX > .text {
        -fx-effect: dropshadow( two-pass-box , blue , .5, 10 , 1 , 1);
}


.text-fieldJFXwhite > .text {

.text-fieldJFX > .text {
        -fx-text-inner-color: white;
}
}


.scroll-bar:horizontal{
    viability:hidden;
}

.address .scroll-bar:vertical .track {
  visibility: hidden;
}

.address2 .scroll-bar:vertical .track-background {
  visibility: hidden;
}